li::marker {
	content: '■ ';
	color: #b809c3;
	text-shadow: 2px 2px 4px #ff56f6, -2px -2px 4px #3bace2, 2px -2px 4px #406aff,
		-2px 2px 4px #406aff;
	transition: color 0.1s;
}

li:hover::marker {
	color: rgb(242, 233, 233);
}
